# Node
node_modules/
dist/
build/
.vite/

# Python
*.pyc
__pycache__/
*.pyo
*.pyd
*.sqlite3
venv/
ENV/
env/

# Environment files
.env
.env.example

# OS files
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/
